/* line 5, /app/app/assets/stylesheets/pages.scss */
.headshot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

/* line 16, /app/app/assets/stylesheets/pages.scss */
.img-fluid {
  max-width: 200px;
  height: auto;
}

/* line 21, /app/app/assets/stylesheets/pages.scss */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

/* line 31, /app/app/assets/stylesheets/pages.scss */
.player-card {
  display: flex;
  flex-direction: column;
  border-color: aqua;
}

/* line 36, /app/app/assets/stylesheets/pages.scss */
.player-card p {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 41, /app/app/assets/stylesheets/pages.scss */
#team-card {
  font-weight: bold;
  background-image: url("hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}

/* line 51, /app/app/assets/stylesheets/pages.scss */
.mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: vertical;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

/* line 62, /app/app/assets/stylesheets/pages.scss */
.text-white {
  font-weight: bold;
  color: white;
}

/* line 68, /app/app/assets/stylesheets/pages.scss */
#team-card h1 {
  font-size: 5em;
}

/* line 72, /app/app/assets/stylesheets/pages.scss */
#team-card p {
  font-size: 2em;
}

/* line 76, /app/app/assets/stylesheets/pages.scss */
.meet-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  background-color: #f0f0f0;
}

/* line 87, /app/app/assets/stylesheets/pages.scss */
.meet-action h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* line 93, /app/app/assets/stylesheets/pages.scss */
hr {
  border-top: 5px solid #82888e89;
  width: 100%;
}
