<h1>Gustav's Portfolio</h1>

<%= image_tag("gustav-headshot.jpg", alt: "Gustav", class: "img-fluid") %>

<h2>Project Highlights</h2>
<ul class="project-list">
<li>Project 1: Dual-Tone Multi-Frequency (DTMF) signal encoder/decoder using MATLAB.</li>
<li>Project 2: Graphing voltmeter embedded system using C and AVR Assembly.</li>
<li>Project 3: Infrared (IR) transmitter and hardware-filtered IR receiver circuits.</li>
</ul>

<%= render 'comments/index', page_name: 'gustav' %>

<%= render 'comments/form', page_name: 'gustav' %>