<!-- app/views/profiles/profile.html.erb -->

<div class="profile-container bg-white shadow-md rounded-md mt-10 p-8">
  <h1 class="text-3xl font-bold mb-4 text-center">James's Portfolio</h1>

  <%= image_tag("james-headshot.jpg", alt: "Jame's Headshot", class: "img-fluid") %>

  <h2 class="text-2xl mt-6 mb-4 text-center">Project Highlights</h2>
  <ul class="project-list">
    <li>Project 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Project 2: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>Project 3: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
  </ul>
</div>

<%= render 'comments/index', page_name: 'james' %>

<%= render 'comments/form', page_name: 'james' %>

