<!-- FILEPATH: /Users/kailindholm/Documents/Fall 2023/SenDesign /senior-design-lab03/team-portfolio/app/views/pages/kai.html.erb -->
<h1>Kai's Portfolio</h1>

<h2>Headshot</h2>
<%= image_tag("kai-headshot.jpg", class: "img-fluid") %>

<h2>Project Highlights</h2>
<ul>
<li>Project 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li>Project 2: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
<li>Project 3: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
</ul>
