<% comments = Comment.where(page: page_name) %>
<div class="max-w-md mx-auto space-y-4 mt-8">
  <% comments.each do |comment| %>
    <div class="bg-gray-100 p-4 rounded-lg">
    <p class="text-xl font-semibold"><%= comment.user.name %> (<%= comment.created_at.strftime('%b %e') %>):</p>
      <p class="text-gray-800-xl"><%= comment.content %></p>
    </div>
  <% end %>
</div>
