<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 relative b-0">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between b-0">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; <%= Time.now.year %> Ctrl-Alt-Delete -- Team 13 ECE:4880. All rights reserved.
    </span>
    </div>
</footer>
