<!-- BEGIN: /Users/kailindholm/Documents/Fall 2023/SenDesign /senior-design-lab03/team-portfolio/app/views/layouts/_team_projects.html.erb -->
<h3 class="project-hero" > Project Highlights </h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Team Project 1</h5>
          <p class="card-text">Description of Team Project 1</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Team Project 2</h5>
          <p class="card-text">Description of Team Project 2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Final Project</h5>
          <p class="card-text">Description of Final Project</p>
        </div>
      </div>
    </div>
  </div>
</div>
